torch==1.13.0
torchvision==0.14.0
streamlit==1.22.0
streamlit-image-select==0.6.0
emotion-det-net-infer @ git+https://gitlab.com/group_19200719/pytorch_retinaface_infer
emotion-net-infer @ git+https://gitlab.com/group_19200719/multimodal-emotion-recognition_infer